/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/out
.DS_Store
*.log
/bin/
/.repl
main.js
.cljs_rhino_repl/
resources/public/js/compiled
/.idea
/app/js/p
/node_modules
/electron
/app/config.json
/app/*.log
/builds
/app/components
/spec/static/test.js
/.repl*
*-init.clj
