body {
    margin: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

#app {
    font-family: 'Input';
    text-color: white;
    z-index: 2;
    margin: 0 auto;
    position: absolute;
}

.title {
    background-color: white;
    color: #111;
    text-align: center;
    font-size: 16pt;
    padding: 2pt;
}